{{#if page.attributes.authors}}
  <div class="authors">
    {{> author-header }}
    <ul>
      {{#each (parseAuthors page.attributes.authors)}}
        <li>
          {{> author }}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
