.todo td.icon i::after {
  content: "TODO" !important;
}

.todo td.icon i.icon-caution {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-important {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-note {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-tip {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-warning {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.admonitionblock.warning.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: var(--border-width) solid var(--todo-colour) !important;
}

.admonitionblock.important.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: var(--border-width) solid var(--todo-colour) !important;
}

.admonitionblock.note.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: var(--border-width) solid var(--todo-colour) !important;
}

.admonitionblock.tip.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: var(--border-width) solid var(--todo-colour) !important;
}

.admonitionblock.caution.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: var(--border-width) solid var(--todo-colour) !important;
}
