.todo td.icon i::after {
  content: "TODO" !important;
}

.todo td.icon i.icon-caution {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-important {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-note {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-tip {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.icon i.icon-warning {
  background-color: var(--todo-colour) !important;
  color: var(--color-white) !important;
}

.todo td.content {
  background-color: var(--todo-background) !important;
  border-radius: 0.5rem !important;
  outline: 0.25rem solid var(--todo-colour) !important;
}
